/* common style */

a {
  text-decoration: none;
}

.page-wrapper {
  text-align: center;
  position: relative;
  padding: 30px;
}

/* PageHeader style */

.page-header-wrapper {
  display: flex;
  height: 60px;
  justify-content: center;
  width: 100%;
  font-size: 20px;
}

.page-header {
  padding: 20px;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1040px;
  width: 100%;
}

.link {
  color: #000;
  font-weight: 500;
  padding: 5px;
}

.link:hover {
  font-weight: bolder;
}

.active {
  font-weight: 800;
}

/* PageDetail style */

.page-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-header,
.post-content {
  width: 100%;
  max-width: 1040px;
  text-align: left;
}

/* PostCard style */

.post-card-wrapper:hover .post-title {
  text-decoration: underline;
}

.post-card-wrapper {
  min-height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;

  .post-card {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 1000px;
    border: 1px solid;
    border-radius: 6px;
    padding: 15px;
    margin: 15px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: #000;

    .post-card-title {
      text-align: left;
      font-size: 20px;
      font-weight: bold;
    }

    .post-card-summary {
      text-align: left;
      font-size: 15px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    .post-card-info {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
      color: gray;
      font-size: 13px;
    }
  }
}
